/*footer*/
.footer {
  display: flex;
  align-items: baseline;
  background-color: #2f303a;

  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-left: 215px;
  padding-right: 1154px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* .div-footer-contacts {
} */

.contacts-footer {
  display: block;
  width: 231px;
  list-style-type: none;
}
.footer-list {
  margin-bottom: 9px;
}
.footer-list:last-child {
  margin-bottom: 0px;
}

.logo-web {
  color: $secondary-text-color;
  text-decoration: none;
}
.footer-logo {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.contacts-footer .link {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer .link-adress {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-white-color;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer .link:hover,
.contacts-footer .link:focus,
.contacts-footer .link-adress:hover,
.contacts-footer .link-adress:focus {
  color: $secondary-text-color;
}

/* social-footer */
.div-footer-social {
  padding-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  margin-bottom: 20px;
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}
.footer-icon-list {
  list-style: none;
  display: flex;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: $secondary-text-color;
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

/* mailing-footer */
.mailing-form {
  display: flex;
}

.div-footer-mailing {
  margin-left: 93px;
}
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.input-mailing {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.input-mailing:focus {
  outline: none;
}

.mailing-form:last-child {
  align-items: flex-end;
}

.button-mailing {
  display: flex;
  align-items: center;

  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: $secondary-text-color;
  color: $primary-white-color;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  /* padding-top: 10px; */
  /* padding-right: 28px; */
  /* padding-bottom: 10px; */
  padding-left: 29px;
  border: 0px;

  width: 200px;
  height: 50px;
  margin-left: 12px;
  /* margin-top: 36px; */
}
.mailing-icon {
  position: absolute;

  width: 24px;
  height: 24px;

  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
}

/* end-footer */
